# CLOCK (50 MHz)
NET "clk" LOC = P56; 
NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20ns HIGH 50%;

# RESET (SW0)
NET "rst_n" LOC = P38; 
NET "rst_n" IOSTANDARD = LVCMOS33;
# START ENCRYPTION (SW1)
NET "start_enc" LOC = P39; 
NET "start_enc" IOSTANDARD = LVCMOS33;

# START DECRYPTION (SW2)
NET "start_dec" LOC = P40; 
NET "start_dec" IOSTANDARD = LVCMOS33;

# DONE LEDs
NET "done_enc" LOC = P99;
NET "done_enc" IOSTANDARD = LVCMOS33;
NET "done_dec" LOC = P98;
NET "done_dec" IOSTANDARD = LVCMOS33;

# OPTIONAL LED OUTPUTS (Ciphertext bits)
NET "leds<0>" LOC = "P124" | IOSTANDARD = LVCMOS33;
NET "leds<1>" LOC = "P123" | IOSTANDARD = LVCMOS33;
NET "leds<2>" LOC = "P121" | IOSTANDARD = LVCMOS33;
NET "leds<3>" LOC = "P120" | IOSTANDARD = LVCMOS33;
NET "leds<4>" LOC = "P118" | IOSTANDARD = LVCMOS33;
NET "leds<5>" LOC = "P117" | IOSTANDARD = LVCMOS33;
NET "leds<6>" LOC = "P116" | IOSTANDARD = LVCMOS33;
NET "leds<7>" LOC = "P115" | IOSTANDARD = LVCMOS33;
